   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <p style="text-align:center">Made by Tony 2018<i id="demo" onclick="myFunction()" class="fa fa-wechat" style="font-size:12px;color:green"></i></p>
    
<script>
function myFunction() {
    var x = document.getElementById("demo");
    if (x.innerHTML === "") {
        x.innerHTML = "wingersg@gmail.com";
    } else {
        x.innerHTML = "";
    }
}
</script>
    
    </body>
</html>

